// primary:#22254b
// secondary:#373b69

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie{
  width:300px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: #373b69;
  position: relative;
  overflow: hidden;
  img{
    width: 100%;
  }
}

.movie:hover .overview{
  transform: translateY(0);
}

.movie-info{
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;

  h3 {
    margin-top: 0;
  }

  span{
  background-color: #22254b;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  }
  .yellow {
    color:yellow;
  }
}

.overview{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
