<app-header></app-header>
<main id="main">
  <div class="movie" *ngFor="let item of dataResults">
    <img
      src="https://image.tmdb.org/t/p/w500/{{ item.poster_path }}"
      onerror="this.src= '../../assets/images/default-movie.png';"
      alt="image"
    />
    <div><a routerLink="/movie/{{ item.id }}">More Details</a></div>
    <div class="movie-info">
      <h3>{{ item.original_title }}</h3>
      <span class="yellow">{{ item.popularity }}</span>
    </div>
    <!-- <div class="overview">
      <h3>Overview</h3>
      {{ item.overview }}
    </div> -->
  </div>
</main>

<router-outlet></router-outlet>
